body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 'regular'; /* Change this to the correct font */
    background-color: #1e1e1e; /* Dark background color */
    color: #fff; /* White text color */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px; /* Added padding for better mobile view */
}

h1 {
    font-family: 'Montserrat', sans-serif; /* Явно указываем шрифт */
    font-weight: 400; /* Явно переопределяем жирное начертание браузера на обычное */
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }


.invitation {
    width: 350px; /* Adjust as needed */
    background-color: #1e1e1e;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.image-section {
    position: relative;
    width: 100%;
    overflow: hidden; /* Important for the text overlay */
}

.image-section img {
    width: 100%;
    display: block;
}

.overlay-text {
    position: absolute;
    color: #fff;
    font-size: 1.5em; /* Adjust size as needed */
    text-align: center;
    width: 100%;
}



/* Стили для новых фото-секций */
.heart-photo,
.calendar-photo,
.envelope-photo {
    width: 100%; /* Занимают всю ширину контейнера */
    margin-bottom: 20px; /* Добавим отступ снизу */
}

.heart-photo img,
.calendar-photo img,
.envelope-photo img {
    width: 100%; /* Растягиваем картинку на всю ширину */
    display: block; /* Убираем лишние отступы */
}

.details p {
    margin: 5px 0;
    font-size: 1.1em; /* Slightly larger for emphasis */
}